.navbar
  color: wheat
  .navbar-brand
    color: wheat
    display: contents
  .navbar-menu
    color: wheat
    max-width: 50%
  .navbar-item
    color: wheat
    padding 0.4rem
  .navbar-item.is-active
    color: gray
.white
  color: wheat

body
  background-color black
  color wheat

.book, .avi
  background-color: #060606
  min-height 100vh

  .content
    font-family: "Jetbrains Mono", sans-serif
    color: wheat

    p
      text-indent: 20px

    h1, h2, h3
      text-align: center

    .prev-next
      display: flex
      justify-content space-evenly

.tst
  margin-top: 50px